@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-amber-300: #fcd34d;
    --color-amber-400: #FBBF24;
    --color-amber-500: #f59e0b;
    --color-amber-600: #d97706;
    --spacing-128: 32rem;
}