<footer class="bg-amber-200">
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Projects</li>
        <li>Contact</li>
        <li>* Blog</li>
        <li>* Services</li>
    </ul>

    <div>Tiago.Dev © Copyright 2025</div>
</footer>
