---
import "../styles/global.css";

import BaseHead from "../components/ui/BaseHead.astro";
import Navbar from "../components/ui/Navbar.astro";
import Footer from "../components/ui/Footer2.astro";
import siteConfig from "../data/site-config.json";

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={siteConfig.title} description={siteConfig.description} />
  </head>
  <body class="min-h-screen flex flex-col">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>