---
import BaseHead from "../components/ui/BaseHead.astro";
import Footer from "../components/Footer.astro";

const {
  title = 'SITE_TITLE',
  description = 'SITE_DESCRIPTION',
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="min-h-screen flex flex-col">
    <div class="bg-base-100 bg-amber-600 flex flex-col min-h-screen">
      <div class="flex-1">
        <main class="px-4 py-6 md:p-6 md:pt-10 w-full max-w-full mx-auto lg:max-w-[900px]">
          <slot />
        </main>
      </div>

      <Footer />
    </div>
  </body>
</html>